<p>
    Durchsuche <a href="{{path('latest')}}" class="font-weight-bold">{{numberOfRecipes}} vegane Rezepte</a>
    von <a href="{{path('blogsStartWithLetter', {'firstLetter': 'a'})}}" class="font-weight-bold text-primary">{{numberOfBlogs}} Blogs</span>
</p>