{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-3 mb-3">
        <div class="col-12">
            {% if sent and success %}
                <span class="text-success">Deine Anfrage wurde erfolgreich übermittelt. Wir melden uns bei dir. Vielen Dank!</span>
            {% elseif sent and not success  %}
                <span class="text-danger">Leider ist ein Fehler bei der Übermittlung aufgetreten. Bitte versuche es später noch einmal. Vielen Dank!</span>
            {% else %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Anfrage senden" />
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock body %}