{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <h1>{{pageTitle}}</h1>
            <h2>Verantwortlich gemäß §5 TMG</h2>
            <ul class="list-unstyled">
                <li>Robin Kählert</li>
                <li>Schiestlstraße 42</li>
                <li>97080 Würzburg</li>
                <li>eMail: kontakt@findevegan.de</li>
            </ul>

            <h2>Hinweis zu Eigentumsrechten</h2>
            Diese Webseite wird privat betrieben und verfolgt keine kommerziellen Interessen.
            Die Betreiber dieser Website haben keinerlei Besitzanspruch an den hier aufgeführten Rezepten und Bildern.
            Wir verlinken lediglich auf die Website des Rezept-Inhabers, mit dessen Einverständnis.
        </div>
    </div>
{% endblock body %}
